/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2017, 9:25:53 AM
    Author     : bhall
*/

ul {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

ul:nth-child(1) {
    font-size: 1.5em;
    font-weight: bold;
}

li {
    flex: 0 0 40%;
}

.activity-element {
    height: 3em;
    flex-flow: column wrap;
    align-items: space-between;
    box-shadow: 2px 0px 2px black;
}

.record {
    height: 2em;
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
}