/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2017, 9:25:53 AM
    Author     : bhall
    Box-shadows from Samuel Thornton, https://codepen.io/sdthornton/pen/wBZdXq
*/

ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}
li {
    text-align: right;
    padding: 0 0.5em;
    flex: 0 1 49%;
}

.cell-name {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    flex: 1 0 70%;
}

.activity-element {
    height: 3em;
    flex-flow: column wrap;
    border-right: 1px solid black;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8,0.25, 1);
    margin-bottom: 0.5em;
}

.activity-element:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.record {
    height: 2em;
    flex-flow: column wrap;
    border-bottom: 1px solid black;
    justify-content: center;
    background-color: white;
    text-align: left;
    align-items: flex-start;
}

.record > li {
    text-align: left;
    width: 33%;
}

.record > .date {
    text-align: right;
}

.record progress {
    position: relative;
}

.record progress:hover:after {
    display: block;
    position: absolute; 
    top: -0.5em;
    left: 50%;
    content: attr(value);
    text-align: center;
    background: ghostwhite;
    border: 1px solid grey;
    font-size: 0.8em;
}
