/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2017, 9:25:53 AM
    Author     : bhall
*/

ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.cell-name {
    font-size: 1.5em;
    font-weight: bold;
}

li {
    flex: 0 0 40%;
}

.activity-element {
    height: 3em;
    flex-flow: column wrap;
    box-shadow: 1px 0px 1px black;
    border-right: 1px solid black;
    background-color: white;
}

.record {
    height: 2em;
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: white;
}