#AuthName "Teaching"
#AuthUserFile "/home/admiral0/.htpasswds/public_html/teaching/passwd"

AddHandler application/x-httpd-php71 .php .php5 .php4 .php3
#CustomLog "logs/access_log" "%h %l %u %t \"%r\" %>s %b"
RewriteEngine On

RewriteRule ^schedule/([0-9]+) schedule.php?year=$1
RewriteRule ^definitions/([0-9]+) definitions.php?year=$1

#POST api/completions
RewriteRule ^api/completions completions.php
RewriteRule ^api/assignment/([0-9A-F\-]{36}) completions.php?assignment=$1
RewriteRule ^api/student/([a-z]*@tampaprep\.org) completions.php?student=$1
RewriteRule ^api/subject manage.php
