<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>[@title]</title>
    <link href="main.css" rel="stylesheet">
    <script src="validation.js"></script>
    <script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
    <div class="container">
        <h1 id="problem-id">[@title]</h1>
        <p id="question-text">[@text]</p>
        [@prompts]
        <button type="button" id="submit" onclick="validateAnswer(true)" class="unchecked">Check</button>
        <img class="validation-icon" src="incorrect.png" height="20" width="20">
        <p id="hint">[@hint]</p>
        <button onclick="nextPage()">Next&gt;</button>
        <button onclick="homePage()">Home</button>
        <p id="answer">[@answer]</p>
        <p id="question-type">exact</p>
        <p id="question-id">[@id]</p>
    </div>
</body>
</html>